
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Loader</title>
    <style type="text/css">


        #body{
            padding-left: 34%;
            padding-top: 18%;
        }
    </style>




</head>
<body>
    <div id="container">
        <div id="body">
            <img src="~/Images/giphy.gif" />
        </div>
    </div>

</body>
</html>
